.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  max-width: 100%;
}


.flex {
  display: flex;
}

.grid {
  display: grid;
}

.portion {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.text-center{
  text-align: center;
}
.order1{
  order: 1;
}
.order2{
  order: 2;
}
